<div class="container">

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h1>Reset Password</h1>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
      <div class="error" *ngIf="resetPasswordForm.get('password')?.hasError('required')">
        Password is required.
      </div>
      <div class="error" *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">
        Password must be at least 6 characters.
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" />
        <div class="error" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
          Confirm Password is required.
        </div>
        <div class="error" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('minlength')">
          Password must be at least 6 characters.
        </div>
        <div class="error" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('passwordMismatch')">
          Passwords must match.
        </div>
      </div>

    </div>
    <button type="submit" [disabled]="resetPasswordForm.invalid">Reset password</button>
    <div>{{message}}</div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

  </form>
</div>