<app-navbar></app-navbar>
<div class="change-container">

    <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
        <h1>Change Password</h1>
        <div class="form-content">
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input id="currentPassword" formControlName="currentPassword" type="password" />
                <div class="error" *ngIf="changeForm.get('currentPassword')?.hasError('required')">
                    Password is required.
                </div>
                <div class="error" *ngIf="changeForm.get('currentPassword')?.hasError('minlength')">
                    Current password must be at least 6 characters.
                </div>
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input id="newPassword" formControlName="newPassword" type="password" />
                <div class="error" *ngIf="changeForm.get('newPassword')?.hasError('required')">
                    Password is required.
                </div>
                <div class="error" *ngIf="changeForm.get('newPassword')?.hasError('minlength')">
                    New password must be at least 6 characters.
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" formControlName="confirmPassword" type="password" />
                <div class="error" *ngIf="changeForm.get('confirmPassword')?.hasError('required')">
                    Confirm Password is required.
                </div>
                <div class="error" *ngIf="changeForm.get('confirmPassword')?.hasError('minlength')">
                    Password must be at least 6 characters.
                </div>
                <div class="error" *ngIf="changeForm.get('confirmPassword')?.hasError('passwordMismatch')">
                    Passwords must match.
                </div>
            </div>

        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <button type="submit" [disabled]="changeForm.invalid">Change</button>
    </form>
</div>

<app-footer></app-footer>