<app-navbar></app-navbar>
<div class="container">

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <h1>Forgot Password</h1>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div class="error" *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
        Valid Email is required.
      </div>
      <div class="error" *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
        Email is invalid.
      </div>

    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid">Send reset link</button>
    <div>{{message}}</div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

  </form>
</div>

<app-footer></app-footer>